<h1>Please sign in</h1>
<form action="/sessions" method="post">

<div class="form">
  <label for="email">Email</label>
  <input type="email" name="email" placeholder="Enter Email">
</div>

<div class="form">
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Enter Password">
</div>

<button type="submit">Sign In</button>
</form>
