html{
  position:relative;
  min-height: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*Normalize html and body elements,this style is just good to have*/
html,body{
  margin:0;
  padding:0;
}

body {
  background: url("../image/london-skyline.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  color: #fff;
  /*text-align: center;*/
  text-shadow: 5px 5px 5px #666666;
  margin-top:30px;
  margin: 0 auto;
  padding-bottom: 50px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100%;
  position: relative;

}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.nav li {
	display: inline;
  padding-right: 15px;
}

.nav a {
	text-decoration: none;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: #596365;
}

.nav a:hover {
	text-decoration: none;
	font-size: 23px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: #000;
}

html{
  position:relative;
  min-height: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*Normalize html and body elements,this style is just good to have*/
html,body{
  margin:0;
  padding:0;
}

body {
  color: #000;
  text-align: center;
  text-shadow: 5px 5px 5px #666666;
  margin-top:30px;
  margin: 0 auto;
  padding-bottom: 50px;
  /*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  min-height: 100%;
  position: relative;

}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*text-align: center;*/
}

.nav li {
	display: inline;
  padding-right: 15px;
}

.nav a {
	text-decoration: none;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: #596365;
}

.nav a:hover {
	text-decoration: none;
	font-size: 17px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: #000;
}

@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}

.btn{
  margin: 15px 0 15px 0;
}

.image {
  position: relative;
  width:100%;
}

.title {
  font-size: 35px;
  padding: 25px;
  width: 100;
  font-family: fantasy, Courier, "Lucida Console", monospace;
  font-
}

.post-form h1{
  font-size: 35px;
  padding: 10px;
  font-family: fantasy, Courier, "Lucida Console", monospace;
}
.post-form {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.75);
  /*width: 300px;*/
  padding: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

}

.transparent .tuyin
	{
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.37);
	border: 1px solid #F7F7F7;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
	padding: 20px 40px;
	position: inline-block;
	text-align: center;
	width: 97%;
	min-height: 315px;
	position: relative;
	margin-bottom: 25px;
	 }
.transparent .tuyin .title
	{
	text-align: center;
	color: #000;
	font-size: 35px;
  /*border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  padding-bottom: 15px;
  padding-top: 15px;*/
  padding: 10px;
	}
.transparent .tuyin .plan-name
	{
	font-size: 20px;
	font-weight: 400;
	border-top: 1px solid #FFF;
  padding-top: 15px;
	padding: 10px
	}

.transparent .tuyin .text
	{
	margin-top: 20px;
	font-size: 25px;
	color: #474747;
	text-align: center;
	font-weight: 300;
	margin-bottom: 13px;
	font-size: 16px;
	}
