<div class="post-form">

  <h1>Please Sign Up</h1>

  <form action="/user" method="post">

    <div class="form">
      <label for="first_name">First Name</label>
      <input type="text" name="first_name" placeholder="Enter First Name" required>
    </div>

    <div class="form">
      <label for="surname">Surname</label>
      <input type="text" name="surname" placeholder="Enter Surname" required>
    </div>

    <div class="form">
      <label for="email">Email</label>
      <input type="email" name="email" value='<%= @user.email %>' placeholder="Enter Email" required>
    </div>

    <div class="form">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Enter Password" required>
    </div>

    <div class="form">
      <label for="password_confirmation">Verify Password</label>
      <input type="password" name="password_confirmation" placeholder="Re-Enter Password" required>
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>

  </form>

</div>
