<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/space" method="post">
      <input type="text" name="name" placeholder="Enter space name">
      <input type="text" name="location" placeholder="Enter space location">
      <input type="text" name="description" placeholder="Enter space description">
      <input type="text" name="price" placeholder="Enter space price">
      <input type="submit" value="Add space">
    </form>

  </body>
</html>
