<form action="/space" method="post">
  Name: <input type="text" name="name" placeholder="Enter space name"></br>
  Location: <input type="text" name="location" placeholder="Enter space location"></br>
  Description: <input type="text" name="description" placeholder="Enter space description"></br>
  Price: <input type="text" name="price" placeholder="Enter price per night"></br>
  <input type="submit" value="Add space">
</form>
