<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to MakersBnb!</h1>
    <h3>Stylish appartment in London Bridge.</h3>
  </body>
</html>
