<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MakersBnb</title>
</head>
<body>

  <form method='get' action='/listings'>
    <button type="submit">See all spaces</button>
  </form>

  <% if current_user %>
  <h4>Welcome <%= current_user.first_name %></h4>

  <form method='post' action='/sessions'>
    <input type='hidden' name='_method' value='delete'>
    <button type="submit">Sign Out</button>
  </form>

  <form action="/sessions/user/spaces" method="get">
    <button type="submit">My Spaces</button>
  </form>

  <form action="/space/add" method="get">
    <button type="submit">Add New Space</button>
  </form>

  <% end %>

  <% if current_user == nil %>

  <form method='get' action='/sessions/new'>
    <button type="submit">Log In</button>
  </form>

  <form method='get' action='/user/new'>
    <button type="submit">New User</button>
  </form>

  <% end %>





  <% if flash[:notice] %>
    <div id='notice'><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:errors] && !flash[:errors].empty? %>
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>

  <%= yield %>
</body>
</html>
