<h2 class="title-post">Please Enter details to sign up</h2>

<div class="post-form">

  <form action="/user/new" method="post">
    
    <div class="form">
      <label for="first_name">First Name</label>
      <input type="text" name="first_name" placeholder="Enter First Name">
    </div>

    <div class="form">
      <label for="surname">Surname</label>
      <input type="text" name="surname" placeholder="Enter Surname">
    </div>

    <div class="form">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Enter Email">
    </div>

    <div class="form">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Enter Password">
    </div>

    <div class="form">
      <label for="password_confirmation">Verify Password</label>
      <input type="text" name="password_confirmation" placeholder="Re-Enter Password">
    </div>

    <button type="submit">Sign Up</button>

  </form>

</div>
